.contact {
  .bg-img {
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url("../img/thanos-pal-01.jpg") center top;
    background-size: cover;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;
  }

  .social-icons {
    animation: slide-up 1s;
    padding: 80px 0 40px;

    a {
      padding: 20px;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@include media-lg {
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
